.main .main-proyecto{
    padding: 4.9rem 1.2rem;
    background-color:  #46acb4 ;
    @include breakpoint(sm){
        padding: 1rem 1.2rem;
    } 
}

.main .main-proyectoB{
    padding: 4.9rem 1.2rem;
    background-color:  #ccdb3c ;
    @include breakpoint(sm){
        padding: 1rem 1.2rem;
    } 
}

.main .main-proyectoC{
    padding: 4.9rem 1.2rem;
    @include breakpoint(sm){
        padding: 1rem 1.2rem;
    } 
}
